{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:import/recommended",
    "prettier"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "babelOptions": {
      "configFile": "./.babelrc"
    }
  },
  "plugins": [
    "import",
    "prettier",
    "react"
  ],
  "rules": {
    "import/order": [
      "error",
      {
        "newlines-between": "always",
        "groups": [
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index"
        ]
      }
    ],
    "react/self-closing-comp": ["error", {
      "component": true,
      "html": false
    }],
    "prettier/prettier": "error"
  },
  "settings": {
    "react": {
      "pragma": "React",  // Pragma to use, default to "React"
      "version": "detect"
    },
    "import/resolver": "webpack"
  }
}
