.container {
  max-width: var(--size-container);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  min-height: var(--size-navbar);
  padding: 0 var(--space-container);

  &.row {
    flex-direction: row;
    align-items: center;
  }

  @media (--media-sm) {
    padding: 0 var(--space-container-sm);
  }
}
