.selection {
  display: flex;
  padding: 4px 0 8px;
}

.option {
  margin-left: 8px;
  width: 100%;

  &:first-child {
    margin-left: 0;
    width: auto;
  }

  &.current {
    border-color: var(--color-zap);
    color: var(--color-zap);
  }
}
