.selection {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(38px, 1fr));
  grid-column-gap: 8px;
  padding: 4px 0 8px;
}

.option {
  padding: 4px 6px;

  &.current {
    border-color: var(--color-zap);
    color: var(--color-zap);
  }
}
