.pageHome {
  width: 100%;
  display: grid;
  grid-template-columns: 280px 1fr;
  grid-column-gap: var(--space-container);

  @media (--media-sm) {
    grid-template-columns: 1fr;
  }

  &Filters {
    grid-column: 1/2;
    grid-row: 1/4;
  }

  &Feed {
    grid-column: 2/3;
  }

  &Pagination {
    grid-column: 2/3;
  }
}
