.pageHome {
  display: grid;
  grid-template-columns: 1fr 2fr;

  &Filters {
    grid-column: 1/2;
    grid-row: 1/4;
  }

  &Feed {
    grid-column: 2/3;
  }

  &Pagination {
    grid-column: 2/3;
  }
}
