.card {
  display: flex;
  box-shadow: var(--boxshadow);

  @media (--media-xs) {
    flex-wrap: wrap;
  }
}

.slider {
  min-width: 360px;

  @media (--media-lg) {
    min-width: 45%;
    max-width: 360px;
  }

  @media (--media-xs) {
    width: 100%;
    max-width: unset;
  }
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 16px;
  text-decoration: none;
  color: var(--color-text);
}

.address {
  margin: 0;
  color: var(--color-grey);
  font-weight: 600;
  font-size: var(--fontsize-xs);
}

.price {
  font-size: var(--fontsize-lg);
  margin: 8px 0 12px;
}

.rent {
  color: var(--color-grey);
  font-size: var(--fontsize-sm);
}

.condo {
  font-size: var(--fontsize-xs);
  margin: 0 0 12px;

  &Fee {
    font-weight: 600;
  }
}
