@import "~@font/fontawesome-5.15.3/css/fontawesome.css";
@import "~@font/fontawesome-5.15.3/css/solid.css";

:root {
  body,
  input {
    font-family: "Open Sans", Helvetica, sans-serif;
    font-size: 16px;
  }

  button {
    cursor: pointer;
  }

  img {
    object-fit: contain;
    object-position: center;
  }

  #root {
    position: relative;
  }
}
