@import "~@font/fontawesome-5.15.3/css/fontawesome.css";
@import "~@font/fontawesome-5.15.3/css/solid.css";

:root {
  body,
  input,
  button {
    font-family: "Open Sans", Helvetica, sans-serif;
    line-height: 1.3;
  }

  body {
    color: var(--color-text);
    font-size: var(--fontsize-main);
  }

  button {
    cursor: pointer;
  }

  img {
    object-fit: contain;
    object-position: center;
  }

  #root {
    position: relative;
  }
}
