.navbar {
  background-color: var(--color-navbar);
  box-shadow: var(--boxshadow);
}

.navigation {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  width: 100%;
  padding-left: calc(var(--space-container) * 2);
  position: relative;

  @media (--media-sm) {
    padding-left: var(--space-container);
  }
}

.link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 140px;
  padding: 0 8px;
  border-radius: var(--size-border-radius);
  height: var(--size-navbar-content);

  img {
    max-width: 80%;
    max-height: 50%;
  }

  &Vivareal {
    background-color: var(--color-shadow);
  }

  &Zap {
    background-color: var(--color-white);
  }

  & + & {
    margin-left: 16px;

    @media (--media-xs) {
      margin-left: 8px;
    }
  }
}

.linkHome {
  padding: 0;
  max-width: fit-content;

  img {
    max-width: 140px;
    margin-top: 6px;
  }
}
