.search {
  position: relative;
  display: flex;
  align-items: strech;
  height: var(--size-navbar-content);
}

.button,
.input {
  appearance: none;
  background: var(--color-white);
  border-style: solid;
  border-color: var(--color-navbar);
  height: 100%;
}

.button {
  border-width: 2px 2px 2px 0;
  border-radius: 0 var(--size-border-radius) var(--size-border-radius) 0;
  color: var(--color-navbar);
  padding-right: 24px;
  transition: border-color var(--transition-partial), color var(--transition-partial);

  &:focus {
    outline: 0;
    color: var(--color-secondary);
  }
}

.input {
  border-width: 2px 0 2px 2px;
  border-radius: 2px;
  border-radius: var(--size-border-radius) 0 0 var(--size-border-radius);
  color: var(--color-text);
  font-size: var(--fontsize-sm);
  padding: 8px 8px 8px 24px;
  transition: border-color var(--transition-partial);

  &:focus {
    outline: 0;
    border-color: var(--color-secondary);

    + .button {
      border-color: var(--color-secondary);
      color: var(--color-secondary);
    }
  }
}
