.slider {
  position: relative;

  .img {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  /* remove lib padding outside slides */
  :global {
    .rec-slider-container {
      margin: 0;
    }
  }
}

.indicator {
  background-color: var(--color-secondary);
  color: var(--color-white);
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--size-border-radius);
}

.arrow {
  appearance: none;
  border: 0;
  position: absolute;
  top: 0;
  background-color: var(--color-transparent);
  height: 100%;
  width: 48px;
  padding: 0;
  z-index: 1;
  transition: var(--transition-primary);

  &[disabled] {
    opacity: 0;
    cursor: default;
  }

  &.prev {
    left: 0;
    padding-left: 6px;
  }

  &.next {
    right: 0;
    padding-right: 6px;
  }
}
