.slider {
  position: relative;

  .slide {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .img {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  /* remove lib padding outside slides */
  :global {
    .rec-slider-container {
      margin: 0;
    }
  }
}

.indicator {
  background-color: var(--color-secondary);
  color: var(--color-white);
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--size-border-radius);
}

.arrow {
  appearance: none;
  border: 0;
  position: absolute;
  top: 0;
  background-color: var(--color-transparent);
  height: 100%;
  width: 48px;
  padding: 0;
  z-index: 1;
  transition: var(--transition-primary);

  &[disabled] {
    opacity: 0;
    cursor: default;
  }

  &.prev {
    left: 0;
    padding-left: 6px;
  }

  &.next {
    right: 0;
    padding-right: 6px;
  }
}

.thumbnails {
  display: flex;
  justify-content: center;
  padding-top: 16px;

  .button {
    appearance: none;
    border: 0;
    padding: 0;
    height: 60px;
    width: 80px;
    opacity: 0.4;
    transition: opacity var(--transition-partial), transform var(--transition-partial);

    &:focus {
      outline: 0;
    }

    &:focus,
    &:hover,
    &.isActive {
      opacity: 1;
    }

    &.isActive {
      transform: scale(1.1);
    }

    & + .button {
      margin-left: 16px;
    }
  }

  .image {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
